{% extends "website/base.html" %}
{% load static %}

{% block head %}
{% endblock head %}

{% block content %}
    <div class="assignments-container">
        {% for g in groups %}
            <div class="assignment-group-container">
                <h3>{{ g.0 }}</h3>
                <span class="material-icons collapse-button" for="assignments-table-{{ g.0 }}">expand_more</span>
                <table class="mdl-data-table mdl-shadow--4dp assignments-table" id="assignments-table-{{ g.0 }}">
                    {% for a in g.1 %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric {{ g.2 }}">{{ a.name }}</td>
                            <td class="{{ g.2 }}">{{ a.due_date }}</td>
                            <td class="assignment-done-cell">
                                <form method="post" action="/assignments/">
                                    {% csrf_token %}
                                    <input type="hidden" name="user" value="{{ user.username }}"/>
                                    <input type="hidden" name="assignment" value="{{ a.id }}"/>
                                    <button action="/assignments/" class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">done</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">No Assigments Found</td>
                            <td>-</td>
                            <td class="assignment-done-cell"></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% empty %}
        <p>You're all done! No assignments found.</p>
        {% endfor %}
    </div>
{% endblock content %}
