{% load static %}
{% load compress %}
<!DOCTYPE html>

<html>
    <head>
        <title>{{ sitename }} | {{ pagetitle }}</title>

        {% compress css %}
            <!-- font imports -->
            <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/opensans-typescale.scss' %}">

            <!-- base stylesheet import -->
            <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
        {% endcompress %}
    </head>

    <body>
        <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu">menu</button>
                    <span class="mdc-top-app-bar__title">{{ sitename }} | {{ pagetitle }}</span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                    <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Favorite">favorite</button>
                    <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">search</button>
                    <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options">more_vert</button>
                </section>
            </div>
        </header>

        <main class="mdc-top-app-bar--fixed-adjust"><div class="content">
        {% block content %}
            <p class="mdc-typography--body1">This is a test page, setup to test the site's template and styling.</p>

            <p><div class="mdc-touch-target-wrapper">
                <button class="mdc-button mdc-button--touch">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__touch"></span>
                    <span class="mdc-button__label">Test Button</span>
                </button>
              </div>
        {% endblock content %}
        </div></main>
    </body>
</html>
