{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>{{ sitename }} | {{ pagetitle }}</title>

        <!-- font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

        <!-- material icons import -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

        <!-- base stylesheet import -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>

    <body>
        <header class="top-bar">
            <section class="top-bar-section top-bar-section-left">
                <button class="material-symbols-outlined icon-button" aria-label="Open navigation menu">menu</button>
                <span class="mdc-top-app-bar__title">{{ sitename }} | {{ pagetitle }}</span>
            </section>
            <section class="top-bar-section top-bar-section-right" role="toolbar">
                <button class="material-symbols-outlined icon-button" aria-label="Favorite">favorite</button>
                <button class="material-symbols-outlined icon-button" aria-label="Search">search</button>
                <button class="material-symbols-outlined icon-button" aria-label="Options">more_vert</button>
            </section>
        </header>

        <main class="mdc-top-app-bar--fixed-adjust"><div class="content">
        {% block content %}
            <h1>Test Page</h1>
            <h3>Subtitle</h3>
            <p>This is a test page, setup to test the site's template and styling.</p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat sagittis gravida. Nunc malesuada eros erat, nec commodo odio mattis at. Proin dignissim, eros sit amet rutrum feugiat, mauris libero porttitor metus, eget auctor urna sapien a leo. In et libero imperdiet, ullamcorper nisl fermentum, luctus ipsum. Sed semper nisi eu nibh egestas rutrum nec vitae augue. In dapibus felis placerat, rutrum justo a, cursus dui. Morbi congue dapibus ante ac porta. Etiam aliquam libero tincidunt enim sodales lacinia. Praesent eu condimentum enim. Praesent congue mi eget magna dapibus, ac hendrerit tellus gravida. Donec ac ullamcorper quam, a maximus augue. Nam et diam vel tellus pretium varius non convallis nibh. Etiam auctor, erat tempor porttitor porttitor, quam mauris sollicitudin magna, nec laoreet diam neque in erat. In sed molestie purus. Duis tempus urna at vulputate malesuada.
            </p><p>
                Duis egestas euismod ante, molestie pulvinar diam elementum eu. Nullam egestas nunc massa. Fusce tortor augue, sodales non nibh ut, rutrum condimentum risus. Fusce porta arcu ut magna congue, viverra sodales purus tincidunt. Sed ac erat pellentesque, lobortis diam eu, volutpat ante. Donec ipsum sapien, convallis bibendum egestas dictum, facilisis ac nulla. Proin nec turpis bibendum, efficitur risus a, tincidunt neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris id dolor et nulla semper finibus. Nam viverra pulvinar aliquam. Maecenas bibendum sed erat in imperdiet. Integer vestibulum risus eu lobortis luctus.
            </p><p>
                Sed hendrerit elementum risus, ut tincidunt sapien imperdiet non. Nullam sit amet dictum orci, in consequat libero. Ut convallis id mauris et bibendum. In rhoncus vel neque vitae facilisis. Fusce semper odio vel euismod gravida. Praesent a diam hendrerit mi pharetra faucibus. Maecenas mi metus, aliquet placerat lacus vel, pharetra iaculis sem. Mauris vitae dignissim nunc, eget congue urna. Sed at molestie orci, nec vulputate ipsum. Morbi sed justo lacus. Fusce pretium quam at purus feugiat, nec consectetur felis egestas. Etiam ut sem ligula. Aliquam id turpis elit. Suspendisse accumsan, lacus aliquam congue pulvinar, enim est ultricies arcu, sit amet viverra enim felis euismod diam.
            </p><p>
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vehicula, sapien at tincidunt feugiat, arcu diam faucibus nisi, vitae commodo risus tellus tempor odio. Phasellus nec aliquet leo. Nulla semper sodales molestie. Vestibulum sed sollicitudin elit, laoreet tristique libero. Integer blandit tincidunt ante, et pulvinar nulla sagittis id. Suspendisse ac erat non turpis vestibulum finibus id quis odio. Nunc dignissim aliquet arcu. Duis varius nibh neque, eget suscipit neque viverra id. Donec laoreet ligula non velit faucibus tristique. Aenean urna felis, ultricies vel congue ut, elementum sed erat. Mauris lobortis neque efficitur, finibus neque a, suscipit ante. Vivamus porttitor erat vel sapien venenatis malesuada. Etiam in commodo velit, id congue mi. Fusce id leo quis nisi auctor volutpat.
            </p><p>
                Mauris vitae magna quis nisi imperdiet aliquam id venenatis dui. Morbi mi ligula, lacinia eget euismod nec, molestie vitae elit. Curabitur vitae ipsum massa. Proin quis tellus sed ex hendrerit mattis quis rutrum felis. Suspendisse venenatis lobortis nunc. Vivamus vel consequat tortor. Etiam non eros elit. Sed aliquam diam ante, at dictum felis aliquam at. Etiam sodales eu justo ac aliquet.
            </p>

            <p><button class="material-button">
                <span class="material-button-label">Test Button</span>
            </button></p>
        {% endblock content %}
        </div></main>
    </body>
</html>
