{% extends 'website/base.html' %}

{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col dashboard-card mdl-shadow--4dp">
            <h2>Current Assigments</h2>
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Graphics Supo Work</td>
                    <td>Today, 14:00</td>
                    <td><i class="material-icons">done</i></td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">C Programming Tick</td>
                    <td>Tuesday, 23:59</td>
                    <td><i class="material-icons">done</i></td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">ConcDisSys Supo Work</td>
                    <td>Thursday, 09:00</td>
                    <td><i class="material-icons">done</i></td>
                </tr>
            </table>
        </div>

        <div class="mdl-cell mdl-cell--4-col dashboard-card mdl-shadow--4dp">
            <h2>Today's Schedule</h2>
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                {% for e in events %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        <span class="material-icons" style="color: #{{ e.event_type.color }};" id="dot-{{ forloop.counter }}">circle</span>

                        <div class="mdl-tooltip" data-mdl-for="dot-{{ forloop.counter }}">
                            {{ e.event_type.name }}
                        </div>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">{{ e.name }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ e.location_name }}</td>
                    <td>{{ e.start_date|time:"H:i" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">No Events Today</td>
                    <td class="mdl-data-table__cell--non-numeric">-</td>
                    <td>-</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
