{% extends 'website/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--8-col-tablet dashboard-card mdl-shadow--4dp">
            <h2>Current Assigments</h2>
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                {% for a in assignments %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ a.name }}</td>
                    <td>{{ a.due_date }}</td>
                    <td class="assignment-done-cell">
                        <form method="post" action="/assignments/">
                            {% csrf_token %}
                            <input type="hidden" name="user" value="{{ user.username }}"/>
                            <input type="hidden" name="assignment" value="{{ a.id }}"/>
                            <input type="hidden" name="origin" value="/"/>
                            <button action="/assignments/" class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">done</i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">You're all clear! No Current Assigments.</td>
                    <td>-</td>
                    <td class="assignment-done-cell"></td>
                </tr>
                {% endfor %}
            </table>
            <button class="mdl-button mdl-js-button mdl-button--primary dashboard-card-more" style="float: right;">
                <a href="/assignments">
                    View and Edit Assigments
                    <span class="material-icons">arrow_forward</span>
                </a>
            </button>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--8-col-tablet dashboard-card mdl-shadow--4dp">
            <div class="dashboard-card-wrapper">
                <h2>Today's Schedule</h2>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    {% for e in events %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            <span class="material-icons" style="color: #{{ e.event_type.color }};" id="dot-{{ forloop.counter }}">circle</span>

                            <div class="mdl-tooltip" data-mdl-for="dot-{{ forloop.counter }}">
                                {{ e.event_type.name }}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">{{ e.name }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ e.location_name }}</td>
                        <td>{{ e.start_date|time:"H:i" }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">No Events Today</td>
                        <td class="mdl-data-table__cell--non-numeric">-</td>
                        <td>-</td>
                    </tr>
                    {% endfor %}
                </table>
                <button class="mdl-button mdl-js-button mdl-button--primary dashboard-card-more" style="float: right;">
                    <a href="/calendar">
                        View Full Calendar
                        <span class="material-icons">arrow_forward</span>
                    </a>
                </button>
            </div>
        </div>
    </div>
    {% else %}
    <p>Please <a href="/accounts/login">log in</a> to view your dashboard.</a></p>
    {% endif %}
{% endblock content %}
