html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--mdc-theme-primary);
    min-height: 100vh;
}

main {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
}

.content {
    border-radius: 20px 20px 0 0;
    background-color: white;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.mdl-layout .mdl-layout__header,
.mdl-layout .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.fab {
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.dashboard-card {
    padding: 5px 30px 20px 30px;
    border-radius: 3px;
}

.mdl-grid {
    width: 100vw;
    padding: 0;
    margin: 0;
}

.dashboard-card > table {
    width: 100%;
    border-radius: 2px;
}

.dashboard-card > table > tr > td {
    width: max-content;
}
