html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--mdc-theme-primary);
    min-height: 100vh;
}

main {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
}

.content {
    border-radius: 20px 20px 0 0;
    background-color: white;
    height: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

.mdl-layout .mdl-layout__header,
.mdl-layout .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.fab {
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.dashboard-card {
    padding: 5px 30px 20px 30px;
    border-radius: 3px;
}

.dashboard-card-more {
    margin-top: 10px;
}

.dashboard-card-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
    border: 1px solid rgba(0,0,0,0);
}

/* .dashboard-card-more {
    position: absolute;
    bottom: 0;
    right: 0;
} */

.mdl-grid {
    width: 100vw;
    padding: 0;
    margin: 0;
}

.dashboard-card table {
    width: 100%;
    border-radius: 2px;
}

.dashboard-card table > tr > td {
    width: max-content;
}

.navigation-level-1 {
    padding-left: 60px !important;
}

.mdl-menu__item > a, button > a {
    color: inherit;
    text-decoration: inherit;
}

.calendar-scroller {
    margin: 0; padding: 0;
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.calendar-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto repeat(7, 1fr);
    grid-template-rows: auto repeat(1440, 1px);
    grid-column-gap: 0;
}

.calendar-day-wrapper, .calendar-header-shadow {
    text-align: center;
    position: sticky;
    top: 0;
    grid-row-start: 1;
    padding: 6px;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.calendar-hour-wrapper {
    padding: 0 5px;
    font-size: 1.2em;
}

.calendar-header-shadow {
    grid-column-start: 1;
    grid-column-end: 9;
    z-index: 0;
    border-radius: 4px;
    background-color: white;
}

.calendar-item-wrapper {
    border-radius: 5px;
    padding: 6px 12px;
    overflow-y: hidden;
    margin: 0 2px;
}

.calendar-item-wrapper p {
    margin: 0;
}

.calendar-controller {
    width: 100%;
    box-sizing: border-box;
    margin: -10px 0 10px 0;
    padding: 10px 20px  ;
    font-size: 1.4em;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar-controller-spacer {
    flex-grow: 1;
}

.calendar-controller > span {
    align-self: center;
}

.login-container, .assignments-container {
    padding: 0 20px;
}

.assignment-group-container {
    width: 100%;
    max-width: 800px;
    position: relative;
}

.assignments-table {
    width: 100%;
}

.overdue {
    color: red;
}

.mdl-layout__drawer-button {
  text-shadow: 0 0 5px black;
}

.assignment-done-cell {
    width: 56px;
}

.collapse-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    rotate: 0;
    transition: rotate 100ms;
}

.collapse-button-hidden {
    rotate: 90deg;
    transition: rotate 100ms;
}

.collapsible-hidden {
    display: none !important;
}
